<div class="display-page">
	<div class="attribute-section">
		<div class="attribute-column attribute-categories">
			<span>Power</span>
			<span>Finesse</span>
			<span>Resistance</span>
		</div>

		<div class="attribute-column">
			<span class="attribute-type">Mental</span>
			<div class="attribute">
				<span><a class="roll-pool" data-skill="int">Intelligence</a></span>
				<span
					class="sheet-bubbles"
					style="--percent: calc({{data.attributes.int.value}} / 10 * 100%);"
					>{{data.attributes.int.value}}</span
				>
			</div>
			<div class="attribute">
				<span><a class="roll-pool" data-skill="wits">Wits</a></span>
				<span
					class="sheet-bubbles"
					style="--percent: calc({{data.attributes.wits.value}} / 10 * 100%);"
					>{{data.attributes.wits.value}}</span
				>
			</div>
			<div class="attribute">
				<span><a class="roll-pool" data-skill="res">Resolve</a></span>
				<label
					class="sheet-bubbles"
					style="--percent: calc({{data.attributes.res.value}} / 10 * 100%);"
					>{{data.attributes.res.value}}</label
				>
			</div>
		</div>

		<div class="attribute-column">
			<span class="attribute-type">Physical</span>
			<div class="attribute">
				<span><a class="roll-pool" data-skill="str">Strength</a></span>
				<label
					class="sheet-bubbles"
					style="--percent: calc({{data.attributes.str.value}} / 10 * 100%);"
					>{{data.attributes.str.value}}</label
				>
			</div>
			<div class="attribute">
				<span><a class="roll-pool" data-skill="dex">Dexterity</a></span>
				<label
					class="sheet-bubbles"
					style="--percent: calc({{data.attributes.dex.value}} / 10 * 100%);"
					>{{data.attributes.dex.value}}</label
				>
			</div>
			<div class="attribute">
				<span><a class="roll-pool" data-skill="sta">Stamina</a></span>
				<label
					class="sheet-bubbles"
					style="--percent: calc({{data.attributes.sta.value}} / 10 * 100%);"
					>{{data.attributes.sta.value}}</label
				>
			</div>
		</div>

		<div class="attribute-column">
			<span class="attribute-type">Social</span>
			<div class="attribute">
				<span><a class="roll-pool" data-skill="pre">Presence</a></span>
				<label
					class="sheet-bubbles"
					style="--percent: calc({{data.attributes.pre.value}} / 10 * 100%);"
					>{{data.attributes.pre.value}}</label
				>
			</div>
			<div class="attribute">
				<span><a class="roll-pool" data-skill="man">Manipulation</a></span>
				<label
					class="sheet-bubbles"
					style="--percent: calc({{data.attributes.man.value}} / 10 * 100%);"
					>{{data.attributes.man.value}}</label
				>
			</div>
			<div class="attribute">
				<span><a class="roll-pool" data-skill="com">Composure</a></span>
				<label
					class="sheet-bubbles"
					style="--percent: calc({{data.attributes.com.value}} / 10 * 100%);"
					>{{data.attributes.com.value}}</label
				>
			</div>
		</div>
		<span><a class="att-roll-pool">Attribute Task</a></span>
	</div>

	<!-- Skills Column -->
	<div class="mid_column1">
		<div class="display-skills">
			<h3>Skills</h3>
			<div class="skill-section skills">
				<div class="skill-column">
					<span class="skill-type">Mental (-3 unskilled)</span>
					<div class="skill">
						<span
							><a class="roll-pool" data-skill="academics">Academics</a></span
						>
						<span
							class="skill-bubbles"
							style="--percent: calc({{data.skills.academics.value}} / 5 * 100%);"
							>{{data.skills.academics.value}}</span
						>
					</div>
					<div class="skill altcolor">
						<span><a class="roll-pool" data-skill="computer">Computer</a></span>
						<span
							class="skill-bubbles"
							style="--percent: calc({{data.skills.computer.value}} / 5 * 100%);"
							>{{data.skills.computer.value}}</span
						>
					</div>
					<div class="skill">
						<span><a class="roll-pool" data-skill="crafts">Crafts</a></span>
						<span
							class="skill-bubbles"
							style="--percent: calc({{data.skills.crafts.value}} / 5 * 100%);"
							>{{data.skills.crafts.value}}</span
						>
					</div>
					<div class="skill altcolor">
						<span
							><a class="roll-pool" data-skill="investigation"
								>Investigation</a
							></span
						>
						<span
							class="skill-bubbles"
							style="--percent: calc({{data.skills.investigation.value}} / 5 * 100%);"
							>{{data.skills.investigation.value}}</span
						>
					</div>
					<div class="skill">
						<span><a class="roll-pool" data-skill="medicine">Medicine</a></span>
						<span
							class="skill-bubbles"
							style="--percent: calc({{data.skills.medicine.value}} / 5 * 100%);"
							>{{data.skills.medicine.value}}</span
						>
					</div>
					<div class="skill altcolor">
						<span><a class="roll-pool" data-skill="occult">Occult</a></span>
						<span
							class="skill-bubbles"
							style="--percent: calc({{data.skills.occult.value}} / 5 * 100%);"
							>{{data.skills.occult.value}}</span
						>
					</div>
					<div class="skill">
						<span><a class="roll-pool" data-skill="politics">Politics</a></span>
						<span
							class="skill-bubbles"
							style="--percent: calc({{data.skills.politics.value}} / 5 * 100%);"
							>{{data.skills.politics.value}}</span
						>
					</div>
					<div class="skill altcolor">
						<span><a class="roll-pool" data-skill="science">Science</a></span>
						<span
							class="skill-bubbles"
							style="--percent: calc({{data.skills.science.value}} / 5 * 100%);"
							>{{data.skills.science.value}}</span
						>
					</div>
				</div>
				<div class="skill-column">
					<span class="skill-type">Physical (-1 unskilled)</span>
					<div class="skill">
						<span
							><a class="roll-pool" data-skill="athletics">Athletics</a></span
						>
						<span
							class="skill-bubbles"
							style="--percent: calc({{data.skills.athletics.value}} / 5 * 100%);"
							>{{data.skills.athletics.value}}</span
						>
					</div>
					<div class="skill altcolor">
						<span><a class="roll-pool" data-skill="brawl">Brawl</a></span>
						<span
							class="skill-bubbles"
							style="--percent: calc({{data.skills.brawl.value}} / 5 * 100%);"
							>{{data.skills.brawl.value}}</span
						>
					</div>
					<div class="skill">
						<span><a class="roll-pool" data-skill="drive">Drive</a></span>
						<span
							class="skill-bubbles"
							style="--percent: calc({{data.skills.drive.value}} / 5 * 100%);"
							>{{data.skills.drive.value}}</span
						>
					</div>
					<div class="skill altcolor">
						<span><a class="roll-pool" data-skill="firearms">Firearms</a></span>
						<span
							class="skill-bubbles"
							style="--percent: calc({{data.skills.firearms.value}} / 5 * 100%);"
							>{{data.skills.firearms.value}}</span
						>
					</div>
					<div class="skill">
						<span><a class="roll-pool" data-skill="larceny">Larceny</a></span>
						<span
							class="skill-bubbles"
							style="--percent: calc({{data.skills.larceny.value}} / 5 * 100%);"
							>{{data.skills.larceny.value}}</span
						>
					</div>
					<div class="skill altcolor">
						<span><a class="roll-pool" data-skill="stealth">Stealth</a></span>
						<span
							class="skill-bubbles"
							style="--percent: calc({{data.skills.stealth.value}} / 5 * 100%);"
							>{{data.skills.stealth.value}}</span
						>
					</div>
					<div class="skill">
						<span><a class="roll-pool" data-skill="survival">Survival</a></span>
						<span
							class="skill-bubbles"
							style="--percent: calc({{data.skills.survival.value}} / 5 * 100%);"
							>{{data.skills.survival.value}}</span
						>
					</div>
					<div class="skill altcolor">
						<span><a class="roll-pool" data-skill="weaponry">Weaponry</a></span>
						<span
							class="skill-bubbles"
							style="--percent: calc({{data.skills.weaponry.value}} / 5 * 100%);"
							>{{data.skills.weaponry.value}}</span
						>
					</div>
				</div>
				<div class="skill-column">
					<span class="skill-type">Social (-1 unskilled)</span>
					<div class="skill">
						<span
							><a class="roll-pool" data-skill="animalken">Animal Ken</a></span
						>
						<span
							class="skill-bubbles"
							style="--percent: calc({{data.skills.animalken.value}} / 5 * 100%);"
							>{{data.skills.animalken.value}}</span
						>
					</div>
					<div class="skill altcolor">
						<span><a class="roll-pool" data-skill="empathy">Empathy</a></span>
						<span
							class="skill-bubbles"
							style="--percent: calc({{data.skills.empathy.value}} / 5 * 100%);"
							>{{data.skills.empathy.value}}</span
						>
					</div>
					<div class="skill">
						<span
							><a class="roll-pool" data-skill="expression">Expression</a></span
						>
						<span
							class="skill-bubbles"
							style="--percent: calc({{data.skills.expression.value}} / 5 * 100%);"
							>{{data.skills.expression.value}}</span
						>
					</div>
					<div class="skill altcolor">
						<span
							><a class="roll-pool" data-skill="intimidation"
								>Intimidation</a
							></span
						>
						<span
							class="skill-bubbles"
							style="--percent: calc({{data.skills.intimidation.value}} / 5 * 100%);"
							>{{data.skills.intimidation.value}}</span
						>
					</div>
					<div class="skill">
						<span
							><a class="roll-pool" data-skill="persuasion">Persuasion</a></span
						>
						<span
							class="skill-bubbles"
							style="--percent: calc({{data.skills.persuasion.value}} / 5 * 100%);"
							>{{data.skills.persuasion.value}}</span
						>
					</div>
					<div class="skill altcolor">
						<span
							><a class="roll-pool" data-skill="socialize">Socialize</a></span
						>
						<span
							class="skill-bubbles"
							style="--percent: calc({{data.skills.socialize.value}} / 5 * 100%);"
							>{{data.skills.socialize.value}}</span
						>
					</div>
					<div class="skill">
						<span
							><a class="roll-pool" data-skill="streetwise">Streetwise</a></span
						>
						<span
							class="skill-bubbles"
							style="--percent: calc({{data.skills.streetwise.value}} / 5 * 100%);"
							>{{data.skills.streetwise.value}}</span
						>
					</div>
					<div class="skill altcolor">
						<span
							><a class="roll-pool" data-skill="subterfuge">Subterfuge</a></span
						>
						<span
							class="skill-bubbles"
							style="--percent: calc({{data.skills.subterfuge.value}} / 5 * 100%);"
							>{{data.skills.subterfuge.value}}</span
						>
					</div>
				</div>
			</div>
			<div class="specializations">
				<div class="specializations-title">
					<span>Specializations</span>
				</div>
				<span
					>{{data.details.specialties.specialty1.value}},
					{{data.details.specialties.specialty2.value}},
					{{data.details.specialties.specialty3.value}}</span
				>
			</div>
		</div>
	</div>
	<!-- End Skills Column -->

	<!-- Merits/Whatever Column -->
	<div class="mid_column2">
		<!-- If this is a Vampire sheet, then... -->
		<div class="display-disciplines">
			<h3>Disciplines</h3>
			<div class="items">
				<ol class="items-list">
					{{#each actor.disciplines as |item id|}}
					<li class="item flexrow" data-item-id="{{item._id}}">
						<h4 class="item-name">{{item.name}}</h4>
					</li>
					{{/each}}
				</ol>
			</div>
		</div>
		<!-- End -->

		<div class="display-merits">
			<h3>Merits</h3>
			<div class="items">
				<ol class="items-list">
					{{#each actor.merits as |item id|}}
					<li class="item flexrow" data-item-id="{{item._id}}">
						<h4 class="item-name">{{item.name}}</h4>
					</li>
					{{/each}}
				</ol>
			</div>
		</div>
	</div>
	<!-- End Merits/Whatever Column -->

	<div class="mid_column3">
		<div class="display-willpower">
			<h3>Willpower</h3>
			<span
				class="sheet-bubbles"
				style="--percent: calc({{data.vamp-bg.willpower_max.value}} / 10 * 100%);"
				>{{data.vamp-bg.willpower_max.value}}</span
			>
			<input
				type="text"
				name="data.vamp-bg.willpower_max.value"
				value="{{data.vamp-bg.willpower_max.value}}"
				data-dtype="Number"
			/><br />
			<span
				class="sheet-squares"
				style="--percent: calc({{data.vamp-bg.willpower_current.value}} / 10 * 100%);"
				>{{data.vamp-bg.willpower_current.value}}</span
			>
			<input
				type="text"
				name="data.vamp-bg.willpower_current.value"
				value="{{data.vamp-bg.willpower_current.value}}"
				data-dtype="Number"
			/>
		</div>

		<div class="vamp_bloodpotency">
			<span
				><a class="roll-pool" data-skill="data.vamp-bg.blood_potency.value"
					>Blood Potency</a
				></span
			>
			<span
				class="sheet-bubbles"
				style="--percent: calc({{data.vamp-bg.blood_potency.value}} / 10 * 100%);"
				>{{data.vamp-bg.blood_potency.value}}</span
			>
			<input
				type="text"
				name="data.vamp-bg.blood_potency.value"
				value="{{data.vamp-bg.blood_potency.value}}"
				data-dtype="Number"
			/>
		</div>
		<div style="clear: both;"></div>

		<div class="resource">
			<label>Health</label>
			<input
				type="text"
				name="data.advantages.hp.value"
				value="{{data.advantages.hp.value}}"
				data-dtype="data.advantages.hp.type"
			/>
			<span> / </span>
			<input
				type="text"
				name="data.advantages.hp.max"
				value="{{data.advantages.hp.max}}"
				data-dtype="data.advantages.hp.type"
			/>
		</div>

		<div class="resource">
			<label>Blood Pool</label>
			<input
				type="text"
				name="data.power.value"
				value="{{data.power.value}}"
				data-dtype="Number"
			/>
			<span> / </span>
			<input
				type="text"
				name="data.power.max"
				value="{{data.power.max}}"
				data-dtype="Number"
			/>
		</div>

		<div style="clear: both;"></div>
	</div>

	<div style="clear: both;"></div>

	<div class="resources">
		<div class="resources-type">
			<span>Health</span>
			<div class="circles">
				<i class="fas fa-circle"></i>
				<i class="fas fa-circle"></i>
				<i class="fas fa-circle"></i>
				<i class="fas fa-circle"></i>
				<i class="fas fa-circle"></i>
			</div>
			<div class="squares">
				<a><i class="far fa-square"></i></a>
				<a><i class="far fa-square"></i></a>
				<a><i class="far fa-square"></i></a>
				<a><i class="far fa-square"></i></a>
				<a><i class="far fa-square"></i></a>
			</div>
		</div>
		<div class="resources-type">
			<span>Willpower</span>
			<div class="circles">
				<i class="fas fa-circle"></i>
				<i class="fas fa-circle"></i>
				<i class="fas fa-circle"></i>
				<i class="fas fa-circle"></i>
				<i class="fas fa-circle"></i>
			</div>
			<div class="squares">
				<a><i class="far fa-square"></i></a>
				<a><i class="far fa-square"></i></a>
				<a><i class="far fa-square"></i></a>
				<a><i class="far fa-square"></i></a>
				<a><i class="far fa-square"></i></a>
			</div>
		</div>
		<div class="resources-type">
			<span>Integrity</span>
			<div class="circles">
				<i class="fas fa-circle"></i>
				<i class="fas fa-circle"></i>
				<i class="fas fa-circle"></i>
				<i class="fas fa-circle"></i>
				<i class="fas fa-circle"></i>
				<i class="fas fa-circle"></i>
				<i class="fas fa-circle"></i>
				<i class="fas fa-circle"></i>
				<i class="fas fa-circle"></i>
				<i class="fas fa-circle"></i>
			</div>
			<div class="squares">
				<a><i class="far fa-square"></i></a>
				<a><i class="far fa-square"></i></a>
				<a><i class="far fa-square"></i></a>
				<a><i class="far fa-square"></i></a>
				<a><i class="far fa-square"></i></a>
				<a><i class="far fa-square"></i></a>
				<a><i class="far fa-square"></i></a>
				<a><i class="far fa-square"></i></a>
				<a><i class="far fa-square"></i></a>
				<a><i class="far fa-square"></i></a>
			</div>
		</div>
	</div>
	<hr />
</div>
