<div class="form-group">
	<label class="label-text">{{data.grating.label}}</label>
	<div class="input-box">
		<input
			class="input-text"
			type="Number"
			name="data.grating.value"
			value="{{data.grating.value}}"
			data-dtype="Number"
		/>
	</div>
</div>

<div class="form-group">
	<label class="label-text">{{data.brating.label}}</label>
	<div class="input-box">
		<input
			class="input-text"
			type="Number"
			name="data.brating.value"
			value="{{data.brating.value}}"
			data-dtype="Number"
		/>
	</div>
</div>

<div class="form-group">
	<label class="label-text">{{data.strength.label}}</label>
	<div class="input-box">
		<input
			class="input-text"
			type="Number"
			name="data.strength.value"
			value="{{data.strength.value}}"
			data-dtype="Number"
		/>
	</div>
</div>

<div class="form-group">
	<label class="label-text">{{data.def.label}}</label>
	<div class="input-box">
		<input
			class="input-text"
			type="Number"
			name="data.def.value"
			value="{{data.def.value}}"
			data-dtype="Number"
		/>
	</div>
</div>

<div class="form-group">
	<label class="label-text">{{data.speed.label}}</label>
	<div class="input-box">
		<input
			class="input-text"
			type="Number"
			name="data.speed.value"
			value="{{data.speed.value}}"
			data-dtype="Number"
		/>
	</div>
</div>

<div class="form-group">
	<label class="label-text">{{data.availability.label}}</label>
	<div class="input-box">
		<input
			class="input-text"
			name="data.availability.value"
			placeholder="[# dots]"
			value="{{data.availability.value}}"
			data-dtype="String"
		/>
	</div>
</div>

<div class="form-group">
	<label class="label-text">{{data.coverage.label}}</label>
	<div class="input-box">
		<input
			class="input-text"
			name="data.coverage.value"
			placeholder="[head / torso / arms / legs]"
			value="{{data.coverage.value}}"
			data-dtype="String"
		/>
	</div>
</div>

<div class="form-group">
	<label class="label-text">{{data.tags.label}}</label>
	<div class="input-box">
		<input
			class="input-text"
			name="data.tags.value"
			placeholder="[tags]"
			value="{{data.tags.value}}"
			data-dtype="String"
		/>
	</div>
</div>
