<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img
			class="profile-img"
			src="./systems/cod/images/equipment-symbol.png"
			data-edit="img"
			title="{{item.name}}"
		/>
		<div class="header-fields">
			<h1 class="charname">
				<input
					name="name"
					type="text"
					value="{{item.name}}"
					placeholder="Name"
				/>
			</h1>
			<div class="resource">
				<label>Quantity</label>
				<input
					type="text"
					name="data.quantity"
					value="{{data.quantity}}"
					data-dtype="Number"
				/>
			</div>
			<div class="resource">
				<label>Weight</label>
				<input
					type="text"
					name="data.weight"
					value="{{data.weight}}"
					data-dtype="String"
				/>
			</div>
		</div>
	</header>

	<!-- Tabs V2-->
	<section id="equipment-tab-sections" class="sheet-body">
		<nav id="equipment-primarytabs" class="sheet-tabs tabs">
			<a class="item active" data-tab="attributes">{{localize "Attributes"}}</a>
			<a class="item" data-tab="description">{{localize "Description"}}</a>
		</nav>

		<section class="content">
			{{!-- Attributes Tab --}}
			<div class="tab attributes" data-tab="attributes">
				<div class="form-group">
					<label class="label-text">{{data.bonus.label}}</label>
					<div class="input-box">
						<input
							class="input-text"
							name="data.bonus.value"
							value="{{data.bonus.value}}"
							data-dtype="Number"
						/>
					</div>
				</div>

				<div class="form-group">
					<label class="label-text">{{data.durability.label}}</label>
					<div class="input-box">
						<input
							class="input-text"
							name="data.durability.value"
							value="{{data.durability.value}}"
							data-dtype="Number"
						/>
					</div>
				</div>

				<div class="form-group">
					<label class="label-text">{{data.size.label}}</label>
					<div class="input-box">
						<input
							class="input-text"
							name="data.size.value"
							value="{{data.size.value}}"
							data-dtype="Number"
						/>
					</div>
				</div>

				<div class="form-group">
					<label class="label-text">{{data.structure.label}}</label>
					<div class="input-box">
						<input
							class="input-text"
							name="data.structure.value"
							value="{{data.structure.value}}"
							data-dtype="{{data.structure.type}}"
						/>
					</div>
				</div>

				<div class="form-group">
					<label class="label-text">{{data.availability.label}}</label>
					<div class="input-box">
						<input
							class="input-text"
							name="data.availability.value"
							placeholder="[# dots]"
							value="{{data.availability.value}}"
							data-dtype="String"
						/>
					</div>
				</div>
			</div>

			{{!-- Description Tab --}}
			<div class="tab description" data-tab="description">
				{{editor content=data.description.value target="data.description.value"
				button=true owner=owner editable=editable}}
			</div>
		</section>
	</section>
</form>
